{% extends 'main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="username" placeholder="Username..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="firstname" placeholder="Firstname..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="lastname" placeholder="Lastname..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<div id="paypal-button-container"></div>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.total_cartitem}}</h5>
				<h5>Total:   ${{order.total_cartitem_price}}</h5>
			</div>
		</div>
	</div>
	<script src="https://www.paypal.com/sdk/js?client-id=Afpba_Z6K-slz5SYVhiY6B5yBiPmMbIV6dewr3V3aZXQ0JtPIGr6ndU5V6DACezIkKr_l7fb2Mz2hNWi&currency=USD"></script>

    <script>
		var total = '{{order.total_cartitem_price}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    submitorder()
                });
            }


        }).render('#paypal-button-container');
    </script>
	<script type="text/javascript">
		var shipping = '{{order.shipping}}'
		if(user != 'AnonymousUser'){
			document.getElementById('user-info').innerHTML = ''
		}
		if(shipping == 'False'){
			document.getElementById('shipping-info').innerHTML = ''
		}
		if(shipping == 'False' && user != 'AnonymousUser'){
			document.getElementById('form-button').classList.add('hidden');
			document.getElementById('payment-info').classList.remove('hidden');
		}
		var form = document.getElementById('form')
		form.addEventListener('submit',(e)=>{
			e.preventDefault();
			document.getElementById('form-button').classList.add('hidden');
			document.getElementById('payment-info').classList.remove('hidden');
		})
		// document.getElementById('make-payment').addEventListener('click',(e)=>{
		// 	submitorder()
		// })

		function submitorder(){
			let userformdata = {
				'username':null,
				'email':null,
				'total':total,
				'firstname':null,
				'lastname':null,
			}
			let shippingformdata = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}
			if(user == 'AnonymousUser'){
				userformdata.username = form.username.value;
				userformdata.email = form.email.value;
				userformdata.firstname = form.firstname.value;
				userformdata.lastname = form.lastname.value;
			}
			if(shipping == 'True'){
				shippingformdata.address = form.address.value
				shippingformdata.city = form.city.value
				shippingformdata.state = form.state.value
				shippingformdata.zipcode = form.zipcode.value
			}
			var url = 'processorder/'
			fetch(
				url,{
					method:'POST',
					headers:{
						'Content-Type':'application/json',
						'X-CSRFToken':csrftoken
					},
					body:JSON.stringify({'form':userformdata,'shipping':shippingformdata})
				}
			)
			.then((response)=>{
				return response.json()
			})
			.then((data)=>{
				console.log('data:',data);
				alert('transaction complete');
				window.location.href =  "{% url 'index' %}"
			})
		}
	</script>
{% endblock content %}
